.Rproj.user
MCSimMod.Rproj
*.Rproj
.Rhistory
.RData
*.o
*.exe
*.dll
*.so
*.html

mcsimmod_*.model

coverage_html/
docs/

tests/data/*.R
tests/data/*.c
tests/data/*.dll
tests/data/*.o
inst/doc
/doc/
/Meta/
