.Rproj.user
MCSimMod.Rproj
*.Rproj
.Rhistory
.RData
*.so
*.o
*.exe
*.dll
.quarto/

coverage_html/
docs/

vignettes/*.html
vignettes/*.R
inst/doc
/doc/
/Meta/

# compiled models from strings
mcsimmod_*