.Rproj.user
MCSimMod.Rproj
*.Rproj
.Rhistory
.RData
*.o
*.exe
*.dll
*.so
*.html
*.DS_Store

mcsimmod_*.model

tests/data/*.R
tests/data/*.c
tests/data/*.dll
tests/data/*.o
/coverage/
/doc/
/docs/
/inst/doc
/Meta/
/paper/Figures/.Rhistory
